/*断点----------------------------------  < 480px ---------------------------------------------------------------------------------*/
@media screen and (max-width:480px) {
		/*头部*/
	.max-width{position:static;}
	.head{max-width:730px;padding:0 9px;}
	.head h1{width:26.444%;margin:8px 0 10px 0;}
	.head h1 img{width:100%;}
	.head .nav{display:none;}
	.head p{display:block;}
	.head p:first-of-type{font-size:21px;height:60px;line-height:60px;}
	.head #menu{width:40px;font-size:0;height:40px;margin:9px 0;cursor:pointer;}
	.head p:last-of-type span{margin:0 auto;}
	/*隐藏导航显示*/
	.nav-hidden{display:flex;flex-wrap:wrap;display:none;}
	.nav-hidden li{width:50%;margin: 0;height:40px;line-height:40px;}
	.nav-hidden li:last-of-type{width:50%;}
/*footer脚部开始*/
	.footer .footer-min{width:93%;max-width:450px;}
	.footer .footer-min li:nth-of-type(n){width:100%;box-sizing:border-box;padding:0;padding-left:20.888888888%;}
	.footer .footer-min li:nth-of-type(1){padding-top:17px;}
	.footer .footer-min li:nth-of-type(4){padding-bottom:12px;}
}